.yoga-adultos, .yoga, .volver, .twitter, .terapiyo, .teatro, .reiki, .pilates, .lucas, .lotito, .logotipo, .impro, .facebook, .estrella, .curso-el-terapiyo, .coaching, .cerrar, .camilo, .brain-gym {
    background: url("../img/sprites.png") no-repeat;
    display: block;
}

.yoga-adultos {
    background-position: -322px -248px ;
    width: 119px;
    height: 119px;
}

.yoga {
    background-position: -375px 0;
    width: 119px;
    height: 119px;
}

.volver {
    background-position: -174px -137px ;
    width: 79px;
    height: 32px;
}

.twitter {
    background-position: -257px -138px ;
    width: 28px;
    height: 28px;
}

.terapiyo {
    background-position: -498px 0;
    width: 139px;
    height: 216px;
}

.teatro {
    background-position: 0 -123px ;
    width: 119px;
    height: 119px;
}

.reiki {
    background-position: 0 -246px ;
    width: 119px;
    height: 119px;
}

.pilates {
    background-position: 0 -1px ;
    width: 119px;
    height: 119px;
}

.lucas {
    background-position: -517px -220px ;
    width: 119px;
    height: 119px;
}

.lotito {
    background-position: -640px 0;
    width: 119px;
    height: 119px;
}

.logotipo {
    background-position: 0 -370px ;
    width: 305px;
    height: 97px;
}

.impro {
    background-position: -125px 0;
    width: 119px;
    height: 119px;
}

.facebook {
    background-position: -288px -138px ;
    width: 29px;
    height: 28px;
}

.estrella {
    background-position: -642px -250px ;
    width: 119px;
    height: 119px;
}
.curso-el-terapiyo {
    background-position: -123px -173px ;
    width: 193px;
    height: 192px;
}

.coaching {
    background-position: -251px 0;
    width: 119px;
    height: 119px;
}

.cerrar {
    background-position: -128px -132px ;
    width: 37px;
    height: 37px;
}

.camilo {
    background-position: -640px -123px ;
    width: 119px;
    height: 119px;
}

.brain-gym {
    background-position: -374px -123px ;
    width: 119px;
    height: 119px;
}
