/* 
    Created on : 24/10/2013, 12:54:09 PM
    Author     : Joe Robles <joe.robles.pdj@gmail.com>
*/
.background {
    background: url("../images/background.jpg") no-repeat;
    background-size: 100% 100%;
}
.el-terapiyo {
    background: url("../images/el-terapiyo.png") no-repeat center top;
}
.footer {
    background: #afca08;
}
.facebook-widget {
    
}
.twitter-widget {
    
}