{% extends 'admin-layout.html.twig' %}

{% block container %}
                <h1>
                    Noticias
                    <a class="btn btn-primary entity pull-right" href="{{ path('create') }}" rel="tooltip" title="Nuevo">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>
                </h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Titulo</th>
                                <th>Creado</th>
                                <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="news-list"></tbody>
                    </table>
                </div>
{% endblock %}
