{% extends 'admin-layout.html.twig' %}

{% block container %}
                <h1>Consultas</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Creado</th>
                                <!--<th>Acciones</th>-->
                            </tr>
                        </thead>
                        <tbody class="comments-list"></tbody>
                    </table>
                </div>
{% endblock %}
