/* 
    Created on : 20/11/2013, 09:32:14 AM
    Author     : Joe Robles <joe.robles.pdj@gmail.com>
*/
.datetimepicker {
    cursor: pointer;
}
.datepicker {
    z-index: 1151 !important;
}
.tiny-search {
    text-align: left;
    width: 50% !important;
}
.pagination, .pager {
    margin: 0;
}
.tinytable i.glyphicon {
    margin-right: 6px;
}
.tinytable th.head, .tinytable th.asc, .tinytable th.desc {
    cursor: pointer;
}