/* 
    Created on : 24/10/2013, 12:54:09 PM
    Author     : Joe Robles <joe.robles.pdj@gmail.com>
*/
body {
    font-family: "Archivo Narrow", Arial, serif;
    font-size: 16px;
}
.bold{
    font-family: "Archivo Narrow", Arial, serif;font-weight: 700;
}
.background {
    background: url("../images/background.jpg") no-repeat;
    background-size: 100% 100%;
}
.el-terapiyo {
    background: url("../images/el-terapiyo.png") no-repeat center top;
}
.first-row{
    margin-top: 70px;
}
.footer {
    margin-top: 12px;
    background: #afca08;
}
.ca-menu{
    margin-bottom: 62px;
}
.ca-menu li{
    cursor: pointer;
    width: 119px;
    height: 119px;
    overflow: hidden;
    position: relative;
    float:left;
    list-style: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
    margin-left: 75px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-size: 40px;
    color: #f6f6f6;;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 117px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    font-size: 24px;
    position: absolute;
    top: 110px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
    color: #555;
}
.ca-menu li:hover{
    border-color: #333;
    z-index: 999;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);    font-family: 'WebSymbolsRegular', cursive;
}
.ca-menu li:hover .ca-icon{
    color: #000;
    font-size: 60px;
    text-shadow: 0px 0px 1px #000;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    color: #000;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -ms-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
#terapiyo-duende{
    display: block;
    height: 192px;
    left: 9px;
    position: absolute;
    top: 169px;
    width: 193px;
    z-index: 1;
}
.cat-menu li{
    cursor: pointer;
    width: 193px;
    height: 193px;
    overflow: hidden;
    position: relative;
    float:left;
    list-style: none;
    margin-left: 68px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.cat-menu li:last-child{
    margin-right: 0px;
}
.cat-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.cat-icon{
    font-size: 40px;
    color: #f6f6f6;;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 117px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.cat-main{
    font-size: 24px;
    position: absolute;
    top: 110px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
    color: #555;
}
.cat-menu li:hover{
    border-color: #333;
    z-index: 999;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.cat-menu li:hover .cat-icon{
    color: #000;
    font-size: 60px;
    text-shadow: 0px 0px 1px #000;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.cat-menu li:hover .cat-main{
    color: #000;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
.white{
    color: #fff;
}
.home{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.18);
    border-radius: 44px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 42px 0 12px;
    padding: 45px 90px 1px;
    text-align: justify;
}
.home p{
    line-height: 1.25;
    margin-bottom: 1.1em;
    margin-top: 0;
}
div.footer div.container div.row > div {
    padding: 50px 0;
    text-align: justify;
}
.fb-like-box, .twitter-timeline{
    border-radius: 20px;
    background: #fff;
}
div.news-footer {
    background: #fff;
    border-radius: 20px;
    height: 250px;
    padding: 20px;
}
div.footer div.container div.row > div > span {
    font-size: 24px;
    font-weight: bold;
}
.modal-dialog {
    width: 80%;
}
.modal-body div.row {
    margin: 64px 0;
}
.modal-body p {
    text-align: justify;
}
.volver {
    cursor: pointer;
}
.cerrar {
    cursor: pointer;
    display: block;
    right: 20px;
    position: absolute;
    top: 20px;
}
.courses {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px
}
.contacto {
    color: #333333;
    cursor: pointer;
    font-size: 36px;
}
.noticias {
    cursor: pointer;
}
.btn-secondary {
    color: #ffffff;
    background-color: #000;
    border-color: #777;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #888;
    border-color: #444;
}
#map-canvas {
    height: 300px;
    width: 100%;
}
#contact input, #contact textarea {
    background: #646363;
    color: #fff;
}
.fb-like-box {
    width: 100% !important;
}
.fb-like-box > span{
    width: 100% !important;
}
.fb-like-box span iframe{
    width: 100% !important;
}
#msg {
    background: url("../images/msg_arrow.gif") left center no-repeat;
    display: none;
    padding-left: 7px;
    position: absolute;
    z-index: 99997;
}
#msgcontent {
    background: #f3e6e6;
    border: 2px solid #924949;
    border-left: none;
    color: #000;
    display: block;
    padding: 5px;
    max-width: 250px;
    min-width: 150px;
}
#flash_message {
    z-index: 99999;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu li:hover > .sub-menu {
    visibility: visible;
    display: block;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
}
.right-caret {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #000000;
    border-top: 4px solid transparent;
    content: "";
    display: inline-block;
    position: relative;
    right: 0px;
    vertical-align: middle;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#9acfea;
    color: #fff;
    text-decoration: none;
}
#twitter-widget-0 {
    margin: 0 10px;
    max-width: 95% !important;
}
.datetimepicker {
    cursor: pointer;
}
.datepicker {
    z-index: 1151 !important;
}
.jspDrag {
    background: url("../images/scroll.png") no-repeat;
}
.jspTrack {
    background: url("../images/scroll-area.png") no-repeat 6px 0;
}
.jspVerticalBar {
    right: 10px;
    background: rgba(0, 0, 0, 0);
}
.terapiyo {
    display: block;
    left: 61px;
    position: relative;
    top: -20px;
}
.after-terapiyo {
    margin-top: 0 !important;
}
.error {
    font-weight: bold;
    min-height: 20em;
    padding:15em 0 3em;
}